@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('../fonts/Overpass-Thin.woff') format('woff');
}

@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('../fonts/Overpass-ExtraLight.woff') format('woff'), url('../fonts/Overpass-ExtraLight.woff2') format('woff2');
}
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/Overpass-Light.woff') format('woff'), url('../fonts/Overpass-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Overpass-Regular.woff') format('woff'), url('../fonts/Overpass-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/Overpass-Medium.woff') format('woff'), url('../fonts/Overpass-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/Overpass-SemiBold.woff') format('woff'), url('../fonts/Overpass-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/Overpass-Bold.woff') format('woff'), url('../fonts/Overpass-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('../fonts/Overpass-ExtraBold.woff') format('woff'), url('../fonts/Overpass-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('../fonts/Overpass-Black.woff') format('woff'), url('../fonts/Overpass-Black.woff2') format('woff2');
}
@font-face {
	font-family: 'Bion';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/bion-book.woff') format('woff'), url('../fonts/bion-book.woff2') format('woff2');
}

@font-face {
	font-family: 'Bion';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/bion-bold.woff') format('woff'), url('../fonts/bion-bold.woff2') format('woff2');
}