.cart {
	padding-top: 200px;
	padding-bottom: 185px;
	&__title {
		margin-bottom: 40px;
		font-size: 40px;
	}
	&__row {
		flex-direction: column;
		gap: 20px;
	}
	&__list {
		gap: 10px;
		max-width: 100%;
	}
	&__count {
		gap: 4px;
		font-size: 24px;
		&-minus, &-plus {
			height: 35px;
			width: 48px;
			font-size: 30px;
		}
		&-items {
			width: 64px;
		}
	}
	&__price {
		min-width: 135px;
		font-size: 28px;
	}
	&__item {
		position: relative;
		padding: 17px 25px;
		align-items: flex-start;
		flex-direction: column;
		&-title {
			gap: 6px;
			font-size: 38px;
			p {
				font-size: 24px;
			}
		}
		&-remove {
			right: 15px;
			top: 15px;
		}
		&-info {
			max-width: 100%;
			gap: 25px;
		}
		&-col {
			padding-left: 40px;
			justify-content: space-between;
			gap: 22px;
			width: 100%;
		}
	}
	&__img {
		width: 100%;
		max-width: 250px;
		min-height: 256px;
		img {
			width: 100%;
			height: auto;
		}
	}
	&__order {
		padding: 35px;
		max-width: 100%;
		font-size: 28.8px;
		&-title {
			margin-bottom: 10px;
		}
		&-price {
			margin-bottom: 26px;
			font-size: 44px;
		}
		&-btn {
			height: 100px;
			font-size: 28px;
		}
	}
}

.order {
	.cart {
		&__title {
			display: flex;
			align-items: center;
			gap: 15px;
		}
		&__list {
			padding: 0px 25px;
		}
		&__item {
			padding: 25px 0;
			&-col {
				padding-top: 20px;
				padding-left: 0;
			}
		}
	}
}