@font-face {
	font-family: 'Power Grotesk';
	src: url('../fonts/PowerGrotesk-Medium.woff') format('woff'), url('../fonts/PowerGrotesk-Medium.woff2') format('woff2');
	font-weight: 500;
}

// @font-face {
// 	font-family: 'Gotham';
// 	src: url('../fonts/gotham_light.woff') format('woff'), url('../fonts/gotham_light.woff2') format('woff2');
// 	font-weight: 400;
// }

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham_book.woff') format('woff'), url('../fonts/gotham_book.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham_medium.woff') format('woff'), url('../fonts/gotham_medium.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham_bold.woff') format('woff'), url('../fonts/gotham_bold.woff2') format('woff2');
	font-weight: 700;
}