
$gradient: linear-gradient(135deg, #FFB318 0%, #FF921E 100%);
$text-color: #3B405A;
$blue: #628EDB;
$orange: #FFB318;
$pink: #FF83B7;


@mixin text-default {
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

@mixin text-800 {
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

@mixin t16 {
	font-size: 16px;
	@include text-default;
}

@mixin t18 {
	font-size: 18px;
	@include text-default;
}

@mixin t20 {
	font-size: 20px;
	@include text-800;
}

@mixin t24 {
	font-size: 24px;
	@include text-800;
}


@mixin t40 {
	font-size: 40px;
	@include text-default;
}

@mixin t70 {
	font-size: 70px;
	@include text-800;
}


body {
	color: $text-color;
	// &::-webkit-scrollbar {
	// 	display: none;
	// }
}

.container {
	margin: auto;
	padding: 0px 20px;
	max-width: 1480px;
	&__big {
		max-width: 1624px;
	}
}

.btn {
	padding: 14.5px 41px;
	display: inline-block;
	border-radius: 50px;
	background-image: $gradient;
	@include t16;
	font-weight: 800;
	color: #fff;
	transition: all .3s;
	&:hover {
		filter: brightness(1.2);
	}
	img {
		width: 36px;
		height: 36px;
		object-fit: contain;
	}
	&__call {
		padding: 19px 50px;
		display: flex;
		align-items: center;
		width: fit-content;
		gap: 32px;
		@include t24;
		font-weight: 800;
	}
}

.social {
	display: flex;
	align-items: center;
	gap: 12px;
	.icon {
		padding: 12px;
		border: 1px solid $blue;
		border-radius: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 24px;
			height: 24px;
			object-fit: contain;
		}
	}
}

.section {
	&__title {
		position: relative;
		margin-bottom: 45px;
		@include t40;
		color: $blue;
		letter-spacing: 0.4px;
		span {
			font-weight: 800;
		}
	}
}

@keyframes pulsing {
	0% {
	  -webkit-transform: scale(0.65, 0.65);
	  transform: scale(0.65, 0.65);
	}
	50% {
	  -webkit-transform: scale(1, 1);
	  transform: scale(1, 1);
	}
	100% {
	  -webkit-transform: scale(0.65, 0.65);
	  transform: scale(0.65, 0.65);
	}
}

@keyframes draging {
	0% {
	  -webkit-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
	50% {
	  -webkit-transform: translate(2px, 10px);
	  transform: translate(2px, 10px);
	}
	100% {
	  -webkit-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
}

@keyframes draging-x {
	0% {
	  -webkit-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
	50% {
	  -webkit-transform: translate(12px, 5px);
	  transform: translate(12px, 5px);
	}
	100% {
	  -webkit-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
}



.middle {
	margin: auto;
	width: 100%;
	max-width: calc(1440px - 98px);
}
.slider-container {
	position: relative;
}
.slider-container .bar {
	position: absolute;
	z-index: 1;
	left: -48px;
	top: 6.5px;
	width: calc(100% + 99px);
	height: 10px;
	border-radius: 5px;
	background-color: #E0E7F4;
	overflow: hidden;
}
.slider-container .slider {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 8px;
	border-radius: 8px;
	outline: none;
	background-color: transparent;
}
.slider-container .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 121px;
	height: 20px;
	background-color: $blue;
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: .3s ease-in-out;
}


.hidden {
	overflow: hidden;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: .7);
	z-index: -1;
	transition: all .3s;
	backdrop-filter: blur(2px);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	&.active {
		opacity: 1;
		z-index: 100;
		pointer-events: all;
	}
	&__content {
		position: relative;
		padding: 76px 108px;
		width: 100%;
		max-width: 911px;
		background-color: #fff;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: bottom center;
		border-radius: 40px;
		text-align: center;
	}
	&__close {
		position: absolute;
		right: 55px;
		top: 50px;
		cursor: pointer;
		img {
			width: 36px;
			height: 36px;
			object-fit: contain;
		}
	}
	h2 {
		margin: 0 auto 46px;
		max-width: 601px;
		font-size: 32px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		letter-spacing: 0.96px;
		opacity: 0.7;
	}
	&__success {
		.modal {
			&__content {
				max-width: 600px;
				background-size: 100% 250px;
			}
			&__btn {
				position: static;
			}
		}
	}
}



.form {
	margin: auto;
	max-width: 696px;
	&__input {
		padding: 62px 48px 28px;
		width: 100%;
		font-size: 20px;
		font-style: normal;
		font-weight: 800;
		line-height: 30px; /* 150% */
		letter-spacing: 0.6px;
		color: $blue;
		border-radius: 40px;
		border: 2px solid transparent;
		background: #FFF;
		box-shadow: 0px 4px 16.3px 0px rgba(0, 0, 0, 0.07);
		transition: all .3s;
		&:focus {
			border-color: rgba(98, 142, 219, 0.40);
			& + span:not([class]) {
				top: 28px;
				transform: translateY(0%);
			}
		}
		&.active {
			& + span:not([class]) {
				top: 28px;
				transform: translateY(0%);
			}
			& ~ .reset {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
	&__label {
		position: relative;
		margin-bottom: 24px;
		display: block;
		span:not([class]) {
			position: absolute;
			top: 50%;
			left: 48px;
			transform: translateY(-50%);
			transition: all .3s;
			font-weight: 300;
			line-height: 30px; /* 187.5% */
			letter-spacing: 0.48px;
			opacity: 0.5;
			pointer-events: none;
		}
		.reset {
			position: absolute;
			right: 48px;
			top: 48px;
			cursor: pointer;
			transition: all .3s;
			opacity: 0;
			pointer-events: none;
			img {
				width: 24px;
				height: 24px;
			}
		}
	}
	&__submit {
		padding-top: 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 28px;
	}
	&__btn {
		height: 72px;
		width: 100%;
		max-width: 396px;
		font-size: 24px;
		transition: all .3s;
		&[disabled] {
			opacity: 0.5;
			pointer-events: none;
		}
	}
	&__polityc {
		height: 48px;
		display: flex;
		align-items: center;
		gap: 24px;
		font-size: 20px;
		font-style: normal;
		font-weight: 300;
		line-height: 130%; 
		color: #fff;
		cursor: pointer;
		span {
			width: 48px;
			height: 48px;
			background-color: #fff;
			border-radius: 10px;
			box-shadow: 0px 4px 16.3px 0px rgba(0, 0, 0, 0.07);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		input {
			&:checked {
				& + span {
					background-image: url("../img/check.svg");
				}
			}
		}
		a {
			font-weight: 800;
			text-decoration: underline;
			color: #fff;
			&:hover {
				color: $orange;
			}
		}
	}
	&__ask {
		&-top {
			position: relative;
			margin: 0px auto -30px;
			padding: 17.5px 58px;
			max-width: 264px;
			border-radius: 60px;
			background: #FFF;
			color: #F17373;
			box-shadow: 0px 4px 16.3px 0px rgba(0, 0, 0, 0.07);
			font-size: 20px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			text-align: center;
		}
		&-body {
			margin-bottom: 24px;
			padding: 63px 48px 69px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 28px;
			text-align: center;
			border-radius: 40px;
			background: #FFF;
			box-shadow: 0px 4px 16.3px 0px rgba(0, 0, 0, 0.07);
			text-align: center;
			font-size: 20px;
			font-style: normal;
			font-weight: 800;
			line-height: 26px; /* 130% */
			letter-spacing: 0.6px;
		}
		&-title {
			font-size: 24px;
			font-style: normal;
			font-weight: 300;
			line-height: 30px; /* 125% */
			letter-spacing: 0.72px;
			opacity: 0.7;
		}
		&-desc {
			opacity: 0.4;
		}
	}
	&__radio {
		margin-bottom: 24px;
		display: flex;
		width: 100%;
		cursor: pointer;
		transition: all .5s;
		input {
			&:checked {
				& + p {
					background-color: $blue;
					color: #fff;	
					.var {
						background-color: #fff;
						color: $blue;
						&::before {
							background-color: #fff;
						}
					}
				}
			}
		}
		p {
			padding: 36px 48px;
			width: 100%;
			border-radius: 40px;
			background: #FFF;
			box-shadow: 0px 4px 16.3px 0px rgba(0, 0, 0, 0.07);
			display: flex;
			align-items: center;
			gap: 30px;
			font-size: 24px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			letter-spacing: 0.96px;
			color: $blue;
			transition: all .5s;
		}
		.var {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 48px;
			border-radius: 48px;
			font-size: 24px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			letter-spacing: 0.96px;
			color: #fff;
			background-color: $blue;
			z-index: 1;
			transition: all .5s;
			&::before {
				content: '';
				position: absolute;
				left: -8px;
				top: -8px;
				width: 64px;
				height: 64px;
				-webkit-animation: pulsing 5s infinite;
				animation: pulsing 5s infinite;
				z-index: 0;
				background-size: cover;
				z-index: -1;
				background-color: $blue;
				opacity: 0.2;
				border-radius: 64px;
			}
		}
	}
	&__steps {
		height: 100%;
		.form {
			&__polityc {
				margin-bottom: 24px;
			}
			&__bottom {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 28px;
			}
		}
	}
}




.steps {
	&__form {
		height: 100%;
		&.finish, &.start {
			.steps__prev {
				display: none;
			}
		}
	}
	&__tab {
		display: none;
		&.active {
			display: block;
		}
	}
	&__prev {
		font-size: 20px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		background-color: transparent;
		color: #fff;
	}
}