.header {
	padding: 49px 0;
	&.fixed {
		padding: 10px 0;
		
	}
	&__logo {
		margin-right: 0px;
		img {
			width: 205px;
			height: 46px;
		}
	}
	&__menu {
		display: none;
	}
	&__contacts {
		gap: 40px;
	}
	&__phone {
		@include t16;
	}
	&__burger {
		display: flex;
		margin-left: -7px;
		width: 40px;
		height: 31px;
		span {
			height: 3px;
		}
	}
}